/* Banner personalizado */
.site-header {
  display: flex;
  align-items: center;
}

.site-header img {
  border-radius: 50%;      /* foto redonda */
  height: 160px;            /* tamaño de la foto */
  margin-right: 15px;      /* espacio entre foto y texto */
}
